.timer {
  display: flex;
  padding: 5px;
  margin: 10px 10px 0;
  border-radius: 10px;
  border: solid 3px #000;
  background-color: #e6e9ff;
  justify-content: center;
}

.time-display {
  font-size: 72px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 8px;
}

.time-ms-display {
  font-size: 20px;
  position: absolute;
  right: -10px;
  bottom: -10px;
}
